[submodule "llm/agent/open-manus"]
	path = llm/agent/open-manus
	url = git@github.com:kojeomstudio/open-manus.git
[submodule "llm/rag/r2r"]
	path = llm/rag/r2r
	url = git@github.com:kojeomstudio/R2R.git
[submodule "llm/rag/r2r-dashboard"]
	path = llm/rag/r2r-dashboard
	url = git@github.com:kojeomstudio/R2R-Application.git
[submodule "llm/tools/browser-use"]
	path = llm/tools/browser-use
	url = git@github.com:kojeomstudio/browser-use.git
[submodule "llm/search/local-deep-research"]
	path = llm/search/local-deep-research
	url = git@github.com:kojeomstudio/local-deep-research.git
[submodule "llm/mcp/mcp-use"]
	path = llm/mcp/mcp-use
	url = git@github.com:kojeomstudio/mcp-use.git
[submodule "llm/mcp/serena"]
	path = llm/mcp/serena
	url = git@github.com:kojeomstudio/serena.git
[submodule "workflow/n8n"]
	path = workflow/n8n
	url = git@github.com:kojeomstudio/n8n.git
[submodule "llm/agent/open-agent"]
	path = llm/agent/open-agent
	url = git@github.com:kojeomstudio/open-agent.git
[submodule "image-generative/comfyUI"]
	path = image-generative/comfyUI
	url = git@github.com:kojeomstudio/ComfyUI.git
[submodule "image-generative/stable-diffusion-webui"]
	path = image-generative/stable-diffusion-webui
	url = git@github.com:kojeomstudio/stable-diffusion-webui.git
[submodule "llm/mcp/web-search-mcp"]
	path = llm/mcp/web-search-mcp
	url = git@github.com:kojeomstudio/web-search-mcp.git
[submodule "llm/mcp/playwright-mcp"]
	path = llm/mcp/playwright-mcp
	url = git@github.com:kojeomstudio/playwright-mcp.git
[submodule "llm/mcp/open-webSearch"]
	path = llm/mcp/open-webSearch
	url = git@github.com:kojeomstudio/open-webSearch.git
[submodule "llm/mcp/tavily-mcp"]
	path = llm/mcp/tavily-mcp
	url = git@github.com:kojeomstudio/tavily-mcp.git
[submodule "web-servers/caddy"]
	path = web-servers/caddy
	url = git@github.com:kojeomstudio/caddy.git
[submodule "llm/agent/openclaw"]
	path = llm/agent/openclaw
	url = git@github.com:kojeomstudio/openclaw.git
[submodule "llm/mcp/noapi-google-search-mcp"]
	path = llm/mcp/noapi-google-search-mcp
	url = git@github.com:kojeomstudio/noapi-google-search-mcp.git
